<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='https://unpkg.com/@coreui/coreui@2.1.16/dist/css/coreui.min.css'>
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">

    <script> 
    window.onload = function() {
      var isEditing = false;

      document.getElementById('editClientName').onclick = function() {
        if (isEditing == false) {
          isEditing = true;
          document.getElementById('newClientName').readOnly = false;
          document.getElementById('updateClientName').type = 'button';
          document.getElementById('editClientName').type = 'hidden';
        } else {window.alert("Only 1 field can be edited at a time");};
      }
      document.getElementById('updateClientName').onclick = function(){
        isEditing = false;
        document.getElementById('newClientName').readOnly = true;
        document.getElementById('updateClientName').type = 'hidden';
        document.getElementById('editClientName').type = 'button';
      }
      document.getElementById('editAgentAbbrev').onclick = function(){
        if (isEditing == false) {
          isEditing = true;
          document.getElementById('agentAbbrev').disabled = false;
          document.getElementById('updateAgentAbbrev').type = 'button';
          document.getElementById('editAgentAbbrev').type = 'hidden';
        } else {window.alert("Only 1 field can be edited at a time");};
      }
      document.getElementById('updateAgentAbbrev').onclick = function(){
        isEditing = false;
        document.getElementById('agentAbbrev').disabled = true;
        document.getElementById('updateAgentAbbrev').type = 'hidden';
        document.getElementById('editAgentAbbrev').type = 'button';
      }
        document.getElementById('editClientPhone').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
            document.getElementById('clientPhone').readOnly = false;
            document.getElementById('updateClientPhone').type = 'button';
            document.getElementById('editClientPhone').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientPhone').onclick = function(){
          isEditing = false;
          document.getElementById('clientPhone').readOnly = true;
          document.getElementById('updateClientPhone').type = 'hidden';
          document.getElementById('editClientPhone').type = 'button';
        }
        document.getElementById('editClientFax').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
              document.getElementById('clientFax').readOnly = false;
              document.getElementById('updateClientFax').type = 'button';
              document.getElementById('editClientFax').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientFax').onclick = function(){
          isEditing = false;
          document.getElementById('clientFax').readOnly = true;
          document.getElementById('updateClientFax').type = 'hidden';
          document.getElementById('editClientFax').type = 'button';
        }
        document.getElementById('editClientAddress1').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
              document.getElementById('clientAddress1').readOnly = false;
              document.getElementById('updateClientAddress1').type = 'button';
              document.getElementById('editClientAddress1').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientAddress1').onclick = function(){
          isEditing = false;
          document.getElementById('clientAddress1').readOnly = true;
          document.getElementById('updateClientAddress1').type = 'hidden';
          document.getElementById('editClientAddress1').type = 'button';
        }
        document.getElementById('editClientAddress1type').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
              document.getElementById('clientAddress1type').disabled = false;
              document.getElementById('updateClientAddress1type').type = 'button';
              document.getElementById('editClientAddress1type').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientAddress1type').onclick = function(){
          isEditing = false;
          document.getElementById('clientAddress1type').disabled = true;
          document.getElementById('updateClientAddress1type').type = 'hidden';
          document.getElementById('editClientAddress1type').type = 'button';
        }
        document.getElementById('editClientAddress2').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
              document.getElementById('clientAddress2').readOnly = false;
              document.getElementById('updateClientAddress2').type = 'button';
              document.getElementById('editClientAddress2').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientAddress2').onclick = function(){
          isEditing = false;
          document.getElementById('clientAddress2').readOnly = true;
          document.getElementById('updateClientAddress2').type = 'hidden';
          document.getElementById('editClientAddress2').type = 'button';
        }
        document.getElementById('editClientAddress2type').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
              document.getElementById('clientAddress2type').disabled = false;
              document.getElementById('updateClientAddress2type').type = 'button';
              document.getElementById('editClientAddress2type').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientAddress2type').onclick = function(){
          isEditing = false;
          document.getElementById('clientAddress2type').disabled = true;
          document.getElementById('updateClientAddress2type').type = 'hidden';
          document.getElementById('editClientAddress2type').type = 'button';
        }
        document.getElementById('editClientAddress3').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
              document.getElementById('clientAddress3').readOnly = false;
              document.getElementById('updateClientAddress3').type = 'button';
              document.getElementById('editClientAddress3').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientAddress3').onclick = function(){
          isEditing = false;
          document.getElementById('clientAddress3').readOnly = true;
          document.getElementById('updateClientAddress3').type = 'hidden';
          document.getElementById('editClientAddress3').type = 'button';
        }
        document.getElementById('editClientAddress3type').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
              document.getElementById('clientAddress3type').disabled = false;
              document.getElementById('updateClientAddress3type').type = 'button';
              document.getElementById('editClientAddress3type').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientAddress3type').onclick = function(){
          isEditing = false;
          document.getElementById('clientAddress3type').disabled = true;
          document.getElementById('updateClientAddress3type').type = 'hidden';
          document.getElementById('editClientAddress3type').type = 'button';
        }
        document.getElementById('editClientAddress4').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
              document.getElementById('clientAddress4').readOnly = false;
              document.getElementById('updateClientAddress4').type = 'button';
              document.getElementById('editClientAddress4').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientAddress4').onclick = function(){
          isEditing = false;
          document.getElementById('clientAddress4').readOnly = true;
          document.getElementById('updateClientAddress4').type = 'hidden';
          document.getElementById('editClientAddress4').type = 'button';
        } 
        document.getElementById('editClientAddress4type').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
              document.getElementById('clientAddress4type').disabled = false;
              document.getElementById('updateClientAddress4type').type = 'button';
              document.getElementById('editClientAddress4type').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientAddress4type').onclick = function(){
          isEditing = false;
          document.getElementById('clientAddress4type').disabled = true;
          document.getElementById('updateClientAddress4type').type = 'hidden';
          document.getElementById('editClientAddress4type').type = 'button';
        }
        document.getElementById('editClientEmail1').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
            document.getElementById('clientEmail1').readOnly = false;
            document.getElementById('updateClientEmail1').type = 'button';
            document.getElementById('editClientEmail1').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientEmail1').onclick = function(){
          isEditing = false;
          document.getElementById('clientEmail1').readOnly = true;
          document.getElementById('updateClientEmail1').type = 'hidden';
          document.getElementById('editClientEmail1').type = 'button';
        }
        document.getElementById('editClientEmail2').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
            document.getElementById('clientEmail2').readOnly = false;
            document.getElementById('updateClientEmail2').type = 'button';
            document.getElementById('editClientEmail2').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientEmail2').onclick = function(){
          isEditing = false;
          document.getElementById('clientEmail2').readOnly = true;
          document.getElementById('updateClientEmail2').type = 'hidden';
          document.getElementById('editClientEmail2').type = 'button';
        }
        document.getElementById('editProducts').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
            document.getElementById('clientProdOX').disabled = false;
            document.getElementById('clientProdPP').disabled = false;
            document.getElementById('clientProdTP').disabled = false;
            document.getElementById('updateProducts').type = 'button';
            document.getElementById('editProducts').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateProducts').onclick = function(){
          isEditing = false;
          document.getElementById('clientProdOX').disabled = true;
          document.getElementById('clientProdPP').disabled = true;
          document.getElementById('clientProdTP').disabled = true;
          document.getElementById('updateProducts').type = 'hidden';
          document.getElementById('editProducts').type = 'button';
        }
        document.getElementById('editClientNotes').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
            document.getElementById('clientNotes').readOnly = false;
            document.getElementById('updateClientNotes').type = 'button';
            document.getElementById('editClientNotes').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientNotes').onclick = function(){
          isEditing = false;
          document.getElementById('clientNotes').readOnly = true;
          document.getElementById('updateClientNotes').type = 'hidden';
          document.getElementById('editClientNotes').type = 'button';
        }
        document.getElementById('editClientStatus').onclick = function(){
          if (isEditing == false) {
            isEditing = true;
            document.getElementById('clientStatus').disabled = false;
            document.getElementById('updateClientStatus').type = 'button';
            document.getElementById('editClientStatus').type = 'hidden';
          } else {window.alert("Only 1 field can be edited at a time");};
        }
        document.getElementById('updateClientStatus').onclick = function(){
          isEditing = false;
          document.getElementById('clientStatus').disabled = true;
          document.getElementById('updateClientStatus').type = 'hidden';
          document.getElementById('editClientStatus').type = 'button';
        }
      }
      </script>

  </head>

<body class="app header-fixed footer sidebar-show sidebar-nav">

  <header class="app-header navbar">
    <% include partials/header %>
  </header>

  <div class="app-body">

    <div class="sidebar">
      <% include partials/sidebar %>
    </div>

    <main class="main mt-2 mx-3">
    <form id="formEditClient" name="viewClient" method="post" action="/viewClient" onsubmit="enableFields()">
    <input style="visibility: hidden" id="isEditing" name ="isEditing" value="false">
    <input type="name" class="form-control" id="origClientName" name="origClientName" value="<%= clientName %>" hidden>
    <input type="name" class="form-control" id="user" name="user" value="<%- user %>" hidden>
        <div class="card w-auto">
          <h3 class="card-header">View/Edit Client</h3>
          <div class="card-body">
            <h4> Client Information</h4>
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th style="width: 5%" scope="col">Name</th>
                  <th style="width: 20%" scope="col"> <%= clientName %> </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Contacts:</th>
                  <td> 
                  <% 
                    var contactList ='';
                    for (i = 0; i < result.contact.length; i++) {
                      contactList += result.contact[i].contactFirstName + ' ' + result.contact[i].contactLastName;
                      if (i < (result.contact.length - 1)){
                        contactList += '<br>';
                      }
                    }
                  %>
                  <%- contactList -%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Client Name:</th>
                  <td> 
                      <input type="text" class="form-control" id="newClientName" name="newClientName" value = "<%= result.client[0].clientName %>" required readonly>
                      <input type="button" id="editClientName" value="edit"></input>
                      <input type="hidden" id="updateClientName" value="Save"></input>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Agent Assigment:</th>
                  <td> 
                      <select class="form-control" id="agentAbbrev" name="agentAbbrev" disabled required>
                        <%
                            var list = '';
                            for (i = 0; i < result.agents.length; i++) {
                              if (result.agents[i].agentAbbrev == result.client[0].agentAbbrev){
                                list += '<option selected>' + result.agents[i].agentAbbrev + '</option>';
                              } else {
                                list += '<option>' + result.agents[i].agentAbbrev + '</option>';
                            }
                              
                            }
                        %>
                          <%- list %>
                      </select>
                      <input type="button" id="editAgentAbbrev" value="edit"></input>
                      <input type="hidden" id="updateAgentAbbrev" value="Save"></input>

                  </td>
                </tr>
                <tr>
                  <th scope="row">Phone Number/s:</th>
                  <td> 
                      <input type="text" class="form-control" id="clientPhone" name="clientPhone" value = "<%= result.client[0].clientPhone %>" required readonly>
                      <input type="button" id="editClientPhone" value="edit"></input>
                      <input type="hidden" id="updateClientPhone" value="Save"></input>

                  </td>
                </tr>
                <tr>
                  <th scope="row">Fax Number/s:</th>
                  <td> 
                    <input type="name" class="form-control" id="clientFax" name="clientFax" value = "<%= result.client[0].clientFax %>" readonly> 
                    <input type="button" id="editClientFax" value="edit"></input>
                    <input type="hidden" id="updateClientFax" value="Save"></input>

                  </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 1:</th>
                  <td> 
                    <input type="name" class="form-control" id="clientAddress1" name="clientAddress1" value = "<%= result.client[0].clientAddress1.addr %>" required readonly>
                    <input type="button" id="editClientAddress1" value="edit"></input>
                    <input type="hidden" id="updateClientAddress1" value="Save"></input>

                  </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 1 Type:</th>
                  <td> 
                    <select class="form-control" id="clientAddress1type" name="clientAddress1type" disabled required>
                      <%
                      var address1List = '';
                        if(result.client[0].clientAddress1.type == "Contact Address"){
                          address1List += '<option selected>Contact Address</option>';
                          address1List += '<option>Delivery Address</option>';
                      } else {
                          address1List += '<option>Contact Address</option>';
                          address1List += '<option selected>Delivery Address</option>';
                      }
                      %>
                      <%- address1List %>
                    </select>
                    <input type="button" id="editClientAddress1type" value="edit"></input>
                    <input type="hidden" id="updateClientAddress1type" value="Save"></input>
                   
                  </td>
                </tr>                <tr>
                  <th scope="row">Client Address 2:</th>
                  <td> 
                    <input type="name" class="form-control" id="clientAddress2" name="clientAddress2" value = "<%= result.client[0].clientAddress2.addr %>" readonly>
                    <input type="button" id="editClientAddress2" value="edit"></input>
                    <input type="hidden" id="updateClientAddress2" value="Save"></input>

                  </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 2 Type:</th>
                  <td> 
                    <select class="form-control" id="clientAddress2type" name="clientAddress2type" disabled>
                      <%
                      var address2List = '';
                        if(result.client[0].clientAddress2.type == "Contact Address"){
                          address2List += '<option selected>Contact Address</option>';
                          address2List += '<option>Delivery Address</option>';
                          address2List += '<option></option>';
                      } else if (result.client[0].clientAddress2.type == "Delivery Address") {
                          address2List += '<option>Contact Address</option>';
                          address2List += '<option selected>Delivery Address</option>';
                          address2List += '<option></option>';
                      } else {
                          address2List += '<option>Contact Address</option>';
                          address2List += '<option>Delivery Address</option>';
                          address2List += '<option selected></option>';
                      }
                      %>
                      <%- address2List %>
                    </select>
                    <input type="button" id="editClientAddress2type" value="edit"></input>
                    <input type="hidden" id="updateClientAddress2type" value="Save"></input>
                    
                  </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 3:</th>
                  <td> 
                    <input type="name" class="form-control" id="clientAddress3" name="clientAddress3" value = "<%= result.client[0].clientAddress3.addr %>" readonly>
                    <input type="button" id="editClientAddress3" value="edit"></input>
                    <input type="hidden" id="updateClientAddress3" value="Save"></input>
                   
                  </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 3 Type:</th>
                  <td> 
                    <select class="form-control" id="clientAddress3type" name="clientAddress3type" disabled>
                      <%
                      var address3List = '';
                        if(result.client[0].clientAddress3.type == "Contact Address"){
                          address3List += '<option selected>Contact Address</option>';
                          address3List += '<option>Delivery Address</option>';
                          address3List += '<option></option>';
                      } else if (result.client[0].clientAddress3.type == "Delivery Address") {
                          address3List += '<option>Contact Address</option>';
                          address3List += '<option selected>Delivery Address</option>';
                          address3List += '<option></option>';
                      } else {
                          address3List += '<option>Contact Address</option>';
                          address3List += '<option>Delivery Address</option>';
                          address3List += '<option selected></option>';
                      }
                      %>
                      <%- address3List %>
                    </select>
                    <input type="button" id="editClientAddress3type" value="edit"></input>
                    <input type="hidden" id="updateClientAddress3type" value="Save"></input>
                   
                  </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 4:</th>
                  <td> 
                    <input type="name" class="form-control" id="clientAddress4" name="clientAddress4" value = "<%= result.client[0].clientAddress4.addr %>" readonly>
                    <input type="button" id="editClientAddress4" value="edit"></input>
                    <input type="hidden" id="updateClientAddress4" value="Save"></input>
                    
                  </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 4 Type:</th>
                  <td> 
                    <select class="form-control" id="clientAddress4type" name="clientAddress4type" disabled>
                      <%
                      var address4List = '';
                        if(result.client[0].clientAddress4.type == "Contact Address"){
                          address4List += '<option selected>Contact Address</option>';
                          address4List += '<option>Delivery Address</option>';
                          address4List += '<option></option>';
                      } else if (result.client[0].clientAddress4.type == "Delivery Address") {
                          address4List += '<option>Contact Address</option>';
                          address4List += '<option selected>Delivery Address</option>';
                          address4List += '<option></option>';
                      } else {
                          address4List += '<option>Contact Address</option>';
                          address4List += '<option>Delivery Address</option>';
                          address4List += '<option selected></option>';
                      }
                      %>
                      <%- address4List %>
                    </select>
                    <input type="button" id="editClientAddress4type" value="edit"></input>
                    <input type="hidden" id="updateClientAddress4type" value="Save"></input>
                   
                  </td>
                </tr>
                <tr>
                  <th scope="row">Email Address 1:</th>
                  <td> 
                    <input type="email" class="form-control" id="clientEmail1" name="clientEmail1" value = "<%= result.client[0].clientEmail1 %>" readonly>
                    <input type="button" id="editClientEmail1" value="edit"></input>
                    <input type="hidden" id="updateClientEmail1" value="Save"></input>

                  </td>
                </tr>
                <tr>
                  <th scope="row">Email Address 2:</th>
                  <td> 
                    <input type="email" class="form-control" id="clientEmail2" name="clientEmail2" value = "<%= result.client[0].clientEmail2 %>" readonly>
                    <input type="button" id="editClientEmail2" value="edit"></input>
                    <input type="hidden" id="updateClientEmail2" value="Save"></input>

                  </td>
                </tr>
                <tr>
                  <th scope="row">Client Products:</th>
                  <td>
                    <%
                      var productList = '';
                      if(result.client[0].clientProdOX == "true"){
                        productList += '<input class="form-check-input" type="checkbox" id="clientProdOX" name="clientProdOX" value="true"  checked disabled>';
                      }else{
                        productList += '<input class="form-check-input" type="checkbox" id="clientProdOX" name="clientProdOX" value="true"  disabled>';
                      }
                      productList += '<label class="form-check-label" for="clientProdOX">OX</label>';
                      productList += '<br>';
                      if(result.client[0].clientProdPP == "true"){
                        productList += '<input class="form-check-input" type="checkbox" id="clientProdPP" name="clientProdPP" value="true" checked disabled>';
                      }else{
                        productList += '<input class="form-check-input" type="checkbox" id="clientProdPP" name="clientProdPP" value="true" disabled>';
                      }
                      productList += '<label class="form-check-label" for="clientProdPP">PP</label>';
                      productList += '<br>';
                      if(result.client[0].clientProdTP == "true"){
                        productList += '<input class="form-check-input" type="checkbox" id="clientProdTP" name="clientProdTP" value="true" checked disabled>';
                      }else{
                        productList += '<input class="form-check-input" type="checkbox" id="clientProdTP" name="clientProdTP" value="true" disabled>';
                      }
                      productList += '<label class="form-check-label" for="clientProdTP">TP</label>';
                    %>
                    <%- productList %>
                    <input type="button" id="editProducts" value="edit"></input>
                    <input type="hidden" id="updateProducts" value="Save"></input>
                   
                  </td>
                </tr>
                <tr>
                  <th scope="row">Notes:</th>
                  <td colspan="3"> 
                    <textarea class="form-control" id="clientNotes" name="clientNotes" rows="3" readonly><%=result.client[0].clientNotes %></textarea>
                    <input type="button" id="editClientNotes" value="edit"></input>
                    <input type="hidden" id="updateClientNotes" value="Save"></input>

                  </td>
                </tr>
                <tr>
                  <th scope="row">Status:</th>
                  <td colspan="3"> 
                    <select type="name" class="form-control" id="clientStatus" name="clientStatus" disabled required>
                      <%
                      var statusList = '';
                        if(result.client[0].clientActive == "Enabled"){
                          statusList += '<option selected>Enabled</option>';
                          statusList += '<option>Disabled</option>';
                      } else {
                          statusList += '<option>Enabled</option>';
                          statusList += '<option selected>Disabled</option>';
                      }
                      %>
                      <%- statusList %>
                    </select>
                    <input type="button" id="editClientStatus" value="edit"></input>
                    <input type="hidden" id="updateClientStatus" value="Save"></input>

                  </td>
                </tr>
              </tbody>
            </table>
            <script>
              function enableFields() {
                document.getElementById('agentAbbrev').disabled = false;
                document.getElementById('newClientName').disabled = false;
                document.getElementById('clientAddress1type').disabled = false;
                document.getElementById('clientAddress2type').disabled = false;
                document.getElementById('clientAddress3type').disabled = false;
                document.getElementById('clientAddress4type').disabled = false;
                document.getElementById('clientProdOX').disabled = false;
                document.getElementById('clientProdPP').disabled = false;
                document.getElementById('clientProdTP').disabled = false;
                document.getElementById('clientStatus').disabled = false;
              }
            </script>
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>



<!-- Contact History Snapshot - thinking maybe last 5 entries -->

            <h4> Communication History</h4>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">DATE</th>
                    <th scope="col">AGENT</th>
                    <th scope="col">CONTACT 1</th>
                    <th scope="col">CONTACT 2</th>
                    <th scope="col">VISIT TYPE</th>
                    <th scope="col">REMARKS</th>
                  </tr>
                </thead>
                <tr>
                  <%
                    var eventsList ='';
                    var k = 1;
                    for (i = 0; i < result.events.length; i++) {
                    k = i + 1;
                      eventsList += '<th scope="row">' + k + '</th>';
                      var str = result.events[i].eventTimeIn._i.toString();
                      var str = str.substr(0,10);
                      eventsList += '<td>' + str + '</td>';
                      eventsList += '<td>' + result.events[i].agentAbbrev + '</td>';
                      eventsList += '<td>' + result.events[i].contact1 + '</td>';
                      eventsList += '<td>' + result.events[i].contact2 + '</td>';
                      eventsList += '<td>' + result.events[i].eventType + '</td>';
                      eventsList += '<td>' + result.events[i].eventRemarks + '</td>';
                      eventsList += '</tr>';
                  }
                  %>
                  <%- eventsList %>
                <tbody>

                </tbody>
              </table>
            </div>
<!-- BACK BUTTON -->
            <div class="form-row">
              <div class="form-group col">
                <button type="button" class="btn btn-primary" onclick="goBack()">Back</button>
              </div>
              <script>
                function goBack() {
                  window.history.back();
                }
              </script>
            </div>
          </div>
        </div>
    </main>

    <aside class="aside-menu-hidden">
      <!-- Aside menu content here -->
    </aside>

  </div>
  <footer class="app-footer">
    <% include partials/footer %>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
</body>

</html>
