<!doctype html>
<html lang="en">
<head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- CoreUI CSS -->
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
 <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">

 <title>CRM - Edit User Account</title>

</head>
<script>
  // Function to check Whether both passwords
  // is same or not.
  function checkPassword(form) {
      password1 = form.newPassword.value;
      password2 = form.newPasswordRetype.value;

      // If Not same return False.
      if (password1 != password2) {
          alert ("\nPassword did not match: Please try again...")
          return false;
      }

      // If same return True.
      else{
          return true;
      }
  }
</script>
<script>

 window.onload = function() {
   var agentType = "<%- locals.accounts[0].usertype %>";
   if (agentType == "Agent") {
    document.getElementById("agentAbbrev").disabled = false;
   } else {
    document.getElementById("agentAbbrev").disabled = true;
   }

 }
 </script>

<body class="c-app">

 <div class="c-sidebar c-sidebar-light c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
   <% include partials/sidebar %>
 </div>

 <div class="c-wrapper">
  <header class="c-header c-header-dark bg-primary c-header-fixed">
    <!-- Header content here -->
    <% include partials/header %>
  </header>
  <div class="c-body">
    <main class="c-main">
      <main class="main mt-0 mx-3">
        <h2>Edit User Accounts</h2>
        <hr>
        <form id="formEditContact" name="viewContact" method="post" action="/edit-user" onSubmit="return checkPassword(this)">

          <input type="name" class="form-control" id="userID" name="userID" value="<%= locals.accounts[0]._id %>" hidden>
          <input type="name" class="form-control" id="origAgentAbbrev" name="origAgentAbbrev" value="<%= locals.accounts[0].agentAbbrev %>" hidden>


          <div class="form-row">
            <div class="form-group col-12 col-md-auto">
              <label for="userName">Username</label>
              <input type="text" class="form-control" id="userName" name="userName" value = "<%= locals.accounts[0].username %>" >
            </div>
           <div class="form-group col-12 col-md-auto">
              <label for="userName">User Type</label>
              <select class="form-control" id="userRole" name="userRole" onchange = "EnableDisableBox(this)" required> required>
                <%
                  var roleList = '';
                    if(locals.accounts[0].usertype == "Administrator"){
                      roleList += '<option selected>Administrator</option>';
                      roleList += '<option>Agent</option>';
                      roleList += '<option>ReadOnly</option>';
                    } else if (locals.accounts[0].usertype == "Agent"){
                    roleList += '<option>Administrator</option>';
                    roleList += '<option selected>Agent</option>';
                    roleList += '<option>ReadOnly</option>';
                  } else {
                  roleList += '<option>Administrator</option>';
                  roleList += '<option>Agent</option>';
                  roleList += '<option selected>ReadOnly</option>';
                }
                %>
                <%- roleList %>
              </select>
            </div>
            <div class="form-group col-12 col-md-auto">
              <label for="agentAbbrev">Agent Abbreviation (Use All Caps)</label>
              <input type="text" class="form-control" id="agentAbbrev" name="agentAbbrev" placeholder="Use All Caps" value = "<%= locals.accounts[0].agentAbbrev %>"required disabled>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-12 col-md-auto">
              <label for="agentName">First Name</label>
              <input type="text" class="form-control" id="agentFirstName" name="agentFirstName" placeholder="First Name" value = "<%= locals.accounts[0].agentFirstName %>" required>
            </div>
            <div class="form-group col-12 col-md-auto">
              <label for="agentName">Last Name</label>
              <input type="text" class="form-control" id="agentLastName" name="agentLastName" placeholder="Last Name" value = "<%= locals.accounts[0].agentLastName %>" required>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-12 col-md-auto">
              <label for="newPassword">Password</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Password">
            </div>
            <div class="form-group col-12 col-md-auto">
              <label for="newPasswordRetype">Re-Type Password</label>
              <input type="password" class="form-control" id="newPasswordRetype" name="newPasswordRetype" placeholder="Re-Type Password">
            </div>
            <div class="form-group col-12 col-md-auto">
              <label>Change Password on Login</label>
              <%
                  var changePWList = '';
                  if(locals.accounts[0].changePwOnLogin){
                  changePWList += '<input type="checkbox" class="form-control" id="changePW" name="changePW" checked>';
                }else{
                changePWList += '<input type="checkbox" class="form-control" id="changePW" name="changePW">';
              }
              %>
              <%- changePWList %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 col-md-auto">
              <label for="agentPosition">Position</label>
              <select class="form-control" id="agentPosition" name="agentPosition" required>
                <%
                  var positionList = '';
                    if(locals.accounts[0].agentPosition == "Sales Executive"){
                      positionList += '<option selected>Sales Executive</option>';
                      positionList += '<option>Office</option>';
                      positionList += '<option>Sales Manager</option>';
                    } else if (locals.accounts[0].agentPosition == "Office"){
                      positionList += '<option>Sales Executive</option>';
                      positionList += '<option selected>Office</option>';
                      positionList += '<option>Sales Manager</option>';
                    } else if (locals.accounts[0].agentPosition == "Sales Manager"){
                      positionList += '<option>Sales Executive</option>';
                      positionList += '<option>Office</option>';
                      positionList += '<option selected>Sales Manager</option>';
                    } else {
                      positionList += '<option value="" disabled selected>Select</option>';
                      positionList += '<option>Sales Executive</option>';
                      positionList += '<option>Office</option>';
                      positionList += '<option>Sales Manager</option>';
                    }
                %>
                <%- positionList %>
              </select>
            </div>
            <div class="form-group col-12 col-md-auto">
              <label for="userStatus">Status</label>
              <select type="name" class="form-control" id="userStatus" name="userStatus"  required>
                <%
                  var activeList = '';
                    if(locals.accounts[0].active){
                    activeList += '<option selected>Enabled</option>';
                    activeList += '<option>Disabled</option>';
                  } else {
                  activeList += '<option>Enabled</option>';
                  activeList += '<option selected>Disabled</option>';
                }
                %>
                <%- activeList %>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-auto">
              <button type="submit" class="btn-block btn-primary btn-lg">Submit</button>
            </form>
            </div>
          </div>
</form>

</main>
</main>
</div>
<footer class="c-footer">
  <!-- Footer content here -->
  <% include partials/footer %>
</footer>
</div>

<!-- Optional JavaScript -->
<!-- Popper.js first, then CoreUI JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>
 <script type="text/javascript">
  function EnableDisableBox(newUserType) {
      var selectedValue = newUserType.options[newUserType.selectedIndex].value;

      var agentAB = document.getElementById("agentAbbrev");
      agentAB.disabled = selectedValue == "Agent" ? false : true;
      if (!agentAB.disabled) {
          agentAB.blur();
      }

  }
</script>

</body>
</html>
