<!doctype html>
<html lang="en">
 <head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- CoreUI CSS -->
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
 <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">

 <title>CRM - View Contact</title>

 <script>

 window.onload = function() {
   var isEditing = false;

   document.getElementById('editContactFirstName').onclick = function() {
     if (isEditing == false) {
       isEditing = true;
       document.getElementById('contactFirstName').readOnly = false;
       document.getElementById('updateContactFirstName').type = 'button';
       document.getElementById('editContactFirstName').type = 'hidden';
     } else {window.alert("Only 1 field can be edited at a time");};
   }

   document.getElementById('updateContactFirstName').onclick = function(){
     isEditing = false;
     document.getElementById('contactFirstName').readOnly = true;
     document.getElementById('updateContactFirstName').type = 'hidden';
     document.getElementById('editContactFirstName').type = 'button';
   }

  document.getElementById('editContactLastName').onclick = function() {
     if (isEditing == false) {
       isEditing = true;
       document.getElementById('contactLastName').readOnly = false;
       document.getElementById('updateContactLastName').type = 'button';
       document.getElementById('editContactLastName').type = 'hidden';
     } else {window.alert("Only 1 field can be edited at a time");};
   }

   document.getElementById('updateContactLastName').onclick = function(){
     isEditing = false;
     document.getElementById('contactLastName').readOnly = true;
     document.getElementById('updateContactLastName').type = 'hidden';
     document.getElementById('editContactLastName').type = 'button';
   }

   document.getElementById('editContactPosition').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactPosition').readOnly = false;
     document.getElementById('updateContactPosition').type = 'button';
     document.getElementById('editContactPosition').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactPosition').onclick = function(){
     isEditing = false;
     document.getElementById('updateContactPosition').type = 'hidden';
     document.getElementById('editContactPosition').type = 'button';
   }

   document.getElementById('editContactPhone').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactPhone').readOnly = false;
     document.getElementById('updateContactPhone').type = 'button';
     document.getElementById('editContactPhone').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactPhone').onclick = function(){
     isEditing = false;
     changedView = 'Desktop';
     document.getElementById('contactPhone').readOnly = true;
     document.getElementById('updateContactPhone').type = 'hidden';
     document.getElementById('editContactPhone').type = 'button';
   }

   document.getElementById('editContactMobile').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactMobile').readOnly = false;
     document.getElementById('updateContactMobile').type = 'button';
     document.getElementById('editContactMobile').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactMobile').onclick = function(){
     isEditing = false;
     changedView = 'Desktop';
     document.getElementById('contactMobile').readOnly = true;
     document.getElementById('updateContactMobile').type = 'hidden';
     document.getElementById('editContactMobile').type = 'button';
   }

   document.getElementById('editContactEmail').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactEmail').readOnly = false;
     document.getElementById('updateContactEmail').type = 'button';
     document.getElementById('editContactEmail').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactEmail').onclick = function(){
     isEditing = false;
     changedView = 'Desktop';
     document.getElementById('contactEmail').readOnly = true;
     document.getElementById('updateContactEmail').type = 'hidden';
     document.getElementById('editContactEmail').type = 'button';
   }

   document.getElementById('editContactNotes').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactNotes').readOnly = false;
     document.getElementById('updateContactNotes').type = 'button';
     document.getElementById('editContactNotes').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactNotes').onclick = function(){
     isEditing = false;
     changedView = 'Desktop';
     document.getElementById('contactNotes').readOnly = true;
     document.getElementById('updateContactNotes').type = 'hidden';
     document.getElementById('editContactNotes').type = 'button';
   }

   document.getElementById('editContactStatus').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactStatus').disabled = false;
     document.getElementById('updateContactStatus').type = 'button';
     document.getElementById('editContactStatus').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactStatus').onclick = function(){
     isEditing = false;
     changedView = 'Desktop';
     document.getElementById('contactStatus').disabled = true;
     document.getElementById('updateContactStatus').type = 'hidden';
     document.getElementById('editContactStatus').type = 'button';
   }



   document.getElementById('editContactFirstNameMobile').onclick = function() {
     if (isEditing == false) {
       isEditing = true;
       document.getElementById('contactFirstNameMobile').readOnly = false;
       document.getElementById('updateContactFirstNameMobile').type = 'button';
       document.getElementById('editContactFirstNameMobile').type = 'hidden';
     } else {window.alert("Only 1 field can be edited at a time");};
   }

   document.getElementById('updateContactFirstNameMobile').onclick = function(){
     isEditing = false;
     changedView = 'Mobile';
     document.getElementById('contactFirstNameMobile').readOnly = true;
     document.getElementById('updateContactFirstNameMobile').type = 'hidden';
     document.getElementById('editContactFirstNameMobile').type = 'button';
   }
   document.getElementById('editContactLastNameMobile').onclick = function() {
     if (isEditing == false) {
       isEditing = true;
       document.getElementById('contactLastNameMobile').readOnly = false;
       document.getElementById('updateContactLastNameMobile').type = 'button';
       document.getElementById('editContactLastNameMobile').type = 'hidden';
     } else {window.alert("Only 1 field can be edited at a time");};
   }

   document.getElementById('updateContactLastNameMobile').onclick = function(){
     isEditing = false;
     changedView = 'Mobile';
     document.getElementById('contactLastNameMobile').readOnly = true;
     document.getElementById('updateContactLastNameMobile').type = 'hidden';
     document.getElementById('editContactLastNameMobile').type = 'button';
   }

   document.getElementById('editContactPositionMobile').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactPositionMobile').readOnly = false;
     document.getElementById('updateContactPositionMobile').type = 'button';
     document.getElementById('editContactPositionMobile').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactPositionMobile').onclick = function(){
     isEditing = false;
     changedView = 'Mobile';
     document.getElementById('contactPositionMobile').readOnly = true;
     document.getElementById('updateContactPositionMobile').type = 'hidden';
     document.getElementById('editContactPositionMobile').type = 'button';
   }

   document.getElementById('editContactPhoneMobile').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactPhoneMobile').readOnly = false;
     document.getElementById('updateContactPhoneMobile').type = 'button';
     document.getElementById('editContactPhoneMobile').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactPhoneMobile').onclick = function(){
     isEditing = false;
     changedView = 'Mobile';
     document.getElementById('contactPhoneMobile').readOnly = true;
     document.getElementById('updateContactPhoneMobile').type = 'hidden';
     document.getElementById('editContactPhoneMobile').type = 'button';
   }

   document.getElementById('editContactMobileMobile').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactMobileMobile').readOnly = false;
     document.getElementById('updateContactMobileMobile').type = 'button';
     document.getElementById('editContactMobileMobile').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactMobileMobile').onclick = function(){
     isEditing = false;
     changedView = 'Mobile';
     document.getElementById('contactMobileMobile').readOnly = true;
     document.getElementById('updateContactMobileMobile').type = 'hidden';
     document.getElementById('editContactMobileMobile').type = 'button';
   }

   document.getElementById('editContactEmailMobile').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactEmailMobile').readOnly = false;
     document.getElementById('updateContactEmailMobile').type = 'button';
     document.getElementById('editContactEmailMobile').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactEmailMobile').onclick = function(){
     isEditing = false;
     changedView = 'Mobile';
     document.getElementById('contactEmailMobile').readOnly = true;
     document.getElementById('updateContactEmailMobile').type = 'hidden';
     document.getElementById('editContactEmailMobile').type = 'button';
   }

   document.getElementById('editContactNotesMobile').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactNotesMobile').readOnly = false;
     document.getElementById('updateContactNotesMobile').type = 'button';
     document.getElementById('editContactNotesMobile').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactNotesMobile').onclick = function(){
     isEditing = false;
     changedView = 'Mobile';
     document.getElementById('contactNotesMobile').readOnly = true;
     document.getElementById('updateContactNotesMobile').type = 'hidden';
     document.getElementById('editContactNotesMobile').type = 'button';
   }

   document.getElementById('editContactStatusMobile').onclick = function(){
     if (isEditing == false) {
       isEditing = true;
     document.getElementById('contactStatusMobile').disabled = false;
     document.getElementById('updateContactStatusMobile').type = 'button';
     document.getElementById('editContactStatusMobile').type = 'hidden';
   } else {window.alert("Only 1 field can be edited at a time");};
   }
   document.getElementById('updateContactStatusMobile').onclick = function(){
     isEditing = false;
     changedView = 'Mobile';
     document.getElementById('contactStatusMobile').disabled = true;
     document.getElementById('updateContactStatusMobile').type = 'hidden';
     document.getElementById('editContactStatusMobile').type = 'button';
   }
 }
 </script>

 </head>
 <body class="c-app">

   <div class="c-sidebar c-sidebar-light c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
     <% include partials/sidebar %>
   </div>

  <div class="c-wrapper">
    <header class="c-header c-header-dark bg-primary c-header-fixed">
      <!-- Header content here -->
      <% include partials/header %>
    </header>
    <div class="c-body">
      <main class="c-main">
        <!-- Main content here -->
        <main class="main mt-0 mx-3">
              <h2>View/Edit Contact</h2>
              <hr>
              <h4> Contact Information</h4>
              <form id="formEditContact" name="viewContact" method="post" action="/viewContact" onsubmit="enableFields()">
              <input type="name" class="form-control" id="contactID" name="contactID" value="<%= contactID %>" hidden>
              <input type="name" class="form-control" id="contactClientID" name="contactClientID" value="<%= result.contact[0].contactClientID %>" hidden>
              <input type="name" class="form-control" id="oldContactFirstName" name="oldContactFirstName" value="<%= result.contact[0].contactFirstName %>" hidden>
              <input type="name" class="form-control" id="oldContactLastName" name="oldContactLastName" value="<%= result.contact[0].contactLastName %>" hidden>
              <input type="name" class="form-control" id="user" name="user" value="<%- user %>" hidden>
              <div class="table d-none d-md-block">
                <table class="table table-bordered px-2 py-2 bg-white">
                  <tbody>
                    <tr>
                      <th style="width: 15%" scope="col" class="align-middle">Client:</th>
                      <td class="align-middle"><%= result.contact[0].contactClientID %></td>
                    </tr>
                    <tr>
                      <th style="width: 15%" scope="col" class="align-middle">First Name:</th>
                      <td class="align-middle">
                        <input type="text" class="form-control" id="contactFirstName" name="contactFirstName" value = "<%= result.contact[0].contactFirstName %>" required readonly>
                      </td>
                      <td class="align-middle" style="text-align:center; width:5%">
                        <input type="button" id="editContactFirstName" value="edit"></input>
                        <input type="hidden" id="updateContactFirstName" value="Save"></input>
                      </td>
                    </tr>
                    <tr>
                      <th style="width: 15%" scope="col" class="align-middle">Last Name:</th>
                      <td class="align-middle">
                        <input type="text" class="form-control" id="contactLastName" name="contactLastName" value = "<%= result.contact[0].contactLastName %>" required readonly>
                      </td>
                      <td class="align-middle" style="text-align:center">
                        <input type="button" id="editContactLastName" value="edit"></input>
                        <input type="hidden" id="updateContactLastName" value="Save"></input>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align-middle">Position:</th>
                      <td class="align-middle">
                        <input type="text" class="form-control" id="contactPosition" name="contactPosition" value = "<%= result.contact[0].contactPosition %>" required readonly>
                      </td>
                      <td class="align-middle" style="text-align:center">
                        <input type="button" id="editContactPosition" value="edit"></input>
                        <input type="hidden" id="updateContactPosition" value="Save"></input>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align-middle">Contact Phone Number:</th>
                      <td class="align-middle">
                        <input type="text" class="form-control" id="contactPhone" name="contactPhone" value = "<%= result.contact[0].contactPhone %>" readonly>
                      </td>
                      <td class="align-middle" style="text-align:center">
                        <input type="button" id="editContactPhone" value="edit"></input>
                        <input type="hidden" id="updateContactPhone" value="Save"></input>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align-middle">Contact Mobile Number:</th>
                      <td class="align-middle">
                        <input type="text" class="form-control" id="contactMobile" name="contactMobile" value = "<%= result.contact[0].contactMobile %>" readonly>
                      </td>
                      <td class="align-middle" style="text-align:center">
                        <input type="button" id="editContactMobile" value="edit"></input>
                        <input type="hidden" id="updateContactMobile" value="Save"></input>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align-middle">Email Address:</th>
                      <td class="align-middle">
                        <input type="email" class="form-control" id="contactEmail" name="contactEmail" value = "<%= result.contact[0].contactEmail %>" readonly>
                      </td>
                      <td class="align-middle" style="text-align:center">
                        <input type="button" id="editContactEmail" value="edit"></input>
                        <input type="hidden" id="updateContactEmail" value="Save"></input>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align-middle">Notes:</th>
                      <td class="align-middle">
                        <input type="text" class="form-control" id="contactNotes" name="contactNotes" value = "<%= result.contact[0].contactNotes %>" readonly>
                      </td>
                      <td class="align-middle" style="text-align:center">
                        <input type="button" id="editContactNotes" value="edit"></input>
                        <input type="hidden" id="updateContactNotes" value="Save"></input>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align-middle">Status:</th>
                      <td class="align-middle">
                        <select class="form-control" id="contactStatus" name="contactStatus" disabled required>
                          <%
                          var statusList = '';
                            if(result.contact[0].contactActive == "Enabled"){
                              statusList += '<option selected>Enabled</option>';
                              statusList += '<option>Disabled</option>';
                          } else {
                              statusList += '<option>Enabled</option>';
                              statusList += '<option selected>Disabled</option>';
                          }
                          %>
                          <%- statusList %>
                        </select>
                      </td>
                      <td class="align-middle" style="text-align:center">
                      <input type="button" id="editContactStatus" value="edit"></input>
                      <input type="hidden" id="updateContactStatus" value="Save"></input>
                    </td>
                    </tr>
                  </tbody>
                </table>
                <button type="submit" class="btn btn-primary btn-lg" id="submit">Submit</button>
                <input style="visibility: hidden" id="isEditing" name ="isEditing" value="false">
              </div>
            </form>

        <!-- Mobile View of Data -->
                  <div class="table d-block d-sm-none">
                    <form id="formEditContact" name="viewContact" method="post" action="/viewContact" onsubmit="enableFields()">
                    <input type="name" class="form-control" id="contactID" name="contactID" value="<%= contactID %>" hidden>
                    <input type="name" class="form-control" id="user" name="user" value="<%- user %>" hidden>
                    <table class="table bg-white">
                      <tbody>
        <!-- Mobile View Contact First Name -->
                        <tr>
                          <th style="text-align:left">Contact First Name</th>
                          <th style="width: 16.66%" class="align-middle">
                            <input type="button" id="editContactFirstNameMobile" value="edit"></input>
                            <input type="hidden" id="updateContactFirstNameMobile" value="Save"></input>
                          </th>
                        </tr>
                        <tr>
                          <td colspan=2 scope="row">
                            <input type="text" class="form-control" id="contactFirstNameMobile" name="contactFirstName" value = "<%= result.contact[0].contactFirstName %> " required readonly>
                          </td>
                        </tr>
                  <!-- Mobile View Contact Last Name -->
                        <tr>
                          <th style="text-align:left">Contact Last Name</th>
                          <th style="width: 16.66%" class="align-middle">
                            <input type="button" id="editContactLastNameMobile" value="edit"></input>
                            <input type="hidden" id="updateContactLastNameMobile" value="Save"></input>
                          </th>
                        </tr>
                        <tr>
                          <td colspan=2 scope="row">
                            <input type="text" class="form-control" id="contactLastNameMobile" name="contactLastName" value = "<%= result.contact[0].contactLastName %> " required readonly>
                          </td>
                        </tr>
            <!-- Mobile View Contact Position -->
                        <tr>
                          <th style="text-align:left">Position</th>
                          <th style="width: 16.66%" class="align-middle">
                            <input type="button" id="editContactPositionMobile" value="edit"></input>
                            <input type="hidden" id="updateContactPositionMobile" value="Save"></input>
                          </th>
                        </tr>
                        <tr>
                          <td colspan=2 scope="row">
                            <input type="text" class="form-control" id="contactPositionMobile" name="contactPosition" value = "<%= result.contact[0].contactPosition %>" required readonly>
                          </td>
                        </tr>
              <!-- Mobile View Contact Phone Numbers -->
                        <tr>
                          <th style="text-align:left">Phone Number/s</th>
                          <th style="width: 16.66%" class="align-middle">
                            <input type="button" id="editContactPhoneMobile" value="edit"></input>
                            <input type="hidden" id="updateContactPhoneMobile" value="Save"></input>
                          </th>
                        </tr>
                        <tr>
                          <td colspan=2 scope="row">
                            <input type="text" class="form-control" id="contactPhoneMobile" name="contactPhone" value = "<%= result.contact[0].contactPhone %>" readonly>
                          </td>
                        </tr>
              <!-- Mobile View Contact Mobile Numbers -->
                        <tr>
                          <th style="text-align:left">Mobile Number/s</th>
                          <th style="width: 16.66%" class="align-middle">
                            <input type="button" id="editContactMobileMobile" value="edit"></input>
                            <input type="hidden" id="updateContactMobileMobile" value="Save"></input>
                          </th>
                        </tr>
                        <tr>
                          <td colspan=2 scope="row">
                            <input type="text" class="form-control" id="contactMobileMobile" name="contactMobile" value = "<%= result.contact[0].contactMobile %>" readonly>
                          </td>
                        </tr>
              <!-- Mobile View Email Address-->
                        <tr>
                          <th style="text-align:left">Email Address</th>
                          <th style="width: 16.66%" class="align-middle">
                            <input type="button" id="editContactEmailMobile" value="edit"></input>
                            <input type="hidden" id="updateContactEmailMobile" value="Save"></input>
                          </th>
                        </tr>
                        <tr>
                          <td colspan=2 scope="row">
                            <input type="email" class="form-control" id="contactEmailMobile" name="contactEmail" value = "<%= result.contact[0].contactEmail %>" readonly>
                        </tr>

              <!-- Mobile View Notes-->
                        <tr>
                          <th style="text-align:left">Remarks</th>
                          <th style="width: 16.66%" class="align-middle">
                            <input type="button" id="editContactNotesMobile" value="edit"></input>
                            <input type="hidden" id="updateContactNotesMobile" value="Save"></input>
                          </th>
                        </tr>
                        <tr>
                          <td colspan=2 scope="row">
                            <input type="text" class="form-control" id="contactNotesMobile" name="contactNotes" value = "<%= result.contact[0].contactNotes %>" readonly>
                        </tr>
              <!-- Mobile View Status-->
                        <tr>
                          <th style="text-align:left">Status</th>
                          <th style="width: 16.66%" class="align-middle">
                            <input type="button" id="editContactStatusMobile" value="edit"></input>
                            <input type="hidden" id="updateContactStatusMobile" value="Save"></input>
                          </th>
                        </tr>
                        <tr>
                          <td colspan=2 scope="row">
                            <select class="form-control" id="contactStatusMobile" name="contactStatus" disabled required>
                              <%
                              var statusList = '';
                                if(result.contact[0].contactActive == "Enabled"){
                                  statusList += '<option selected>Enabled</option>';
                                  statusList += '<option>Disabled</option>';
                              } else {
                                  statusList += '<option>Enabled</option>';
                                  statusList += '<option selected>Disabled</option>';
                              }
                              %>
                              <%- statusList %>
                            </select>
                        </tr>
                      </tbody>
                    </table>

                    <div class="row">
                      <div class="col-12 col-md-auto">
                        <button type="submit" class="btn-block btn-primary btn-lg" id="submit" name="submit">Submit</button>
                        <input style="visibility: hidden" id="isEditing" name ="isEditing" value="false">
                      </div>
                    </div>
                  </div>
          </form>
          <!--All drop down fields need to be set at enabled before they will be sent as part of the payload to mongo -->
          <script>
            function enableFields() {
              // if desktop
              document.getElementById('contactStatus').disabled = false;

              // if mobile
              document.getElementById('contactStatusMobile').disabled = false;
           }
          </script>
<hr>
    <!-- Contact History Snapshot - thinking maybe last 5 entries -->

                <h4> Communication History</h4>
                <div class="table-responsive">
                  <table class="table table-bordered px-2 py-2 bg-white">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" style="text-align: center; vertical-align: middle; width: 5%"></th>
                        <th scope="col" style="text-align: center; vertical-align: middle; width: 10%">DATE</th>
                        <th scope="col" style="text-align: center; vertical-align: middle; width: 10%">AGENT</th>
                        <th scope="col" style="text-align: center; vertical-align: middle; width: 10%">CONTACT 1</th>
                        <th scope="col" style="text-align: center; vertical-align: middle; width: 10%">CONTACT 2</th>
                        <th scope="col" style="text-align: center; vertical-align: middle; width: 10%">VISIT TYPE</th>
                        <th scope="col" style="width: 45%">REMARKS</th>
                      </tr>
                    </thead>
                    <tr>
                      <%
                        var eventsList ='';
                        var k = 1;
                        var repContact1 = [];
                        var repContact2 = [];
                        for (i = 0; i < result.events.length; i++) {
                          k = i + 1;
                          if (result.events[i].contact1 === null){
                            repContact1.push("NA");
                          } else{
                            repContact1.push(result.events[i].contact1);
                          }
                          if (result.events[i].contact2 === null){
                            repContact2.push("NA");
                          } else{
                            repContact2.push(result.events[i].contact2);
                          }
                          eventsList += '<th scope="row" style="text-align: center; vertical-align: middle; width: 5%">' + k + '</th>';
                          var date = result.events[i].eventTimeIn._i;
                          var str = date.toString();
                          str = str.substr(0,10);
                          eventsList += '<td style="text-align: center; vertical-align: middle; width: 10%">' + str + '</td>';
                          eventsList += '<td style="text-align: center; vertical-align: middle; width: 10%">' + result.events[i].agentAbbrev + '</td>';
                          eventsList += '<td style="text-align: center; vertical-align: middle; width: 10%">' + repContact1[i] + '</td>';
                          eventsList += '<td style="text-align: center; vertical-align: middle; width: 10%">' + repContact2[i] + '</td>';
                          eventsList += '<td style="text-align: center; vertical-align: middle; width: 10%">' + result.events[i].eventType + '</td>';
                          eventsList += '<td style="text-align: left; vertical-align: middle">' + result.events[i].eventRemarks + '</td>';
                          eventsList += '</tr>';
                      }
                      %>
                      <%- eventsList %>
                    <tbody>
                    </tbody>
                  </table>
                </div>

        </main>
      </main>
    </div>
    <footer class="c-footer">
      <!-- Footer content here -->
      <% include partials/footer %>
    </footer>
  </div>

  <!-- Optional JavaScript -->
 <!-- Popper.js first, then CoreUI JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>
 </body>
</html>
